﻿@model string
@{
    ViewData["Title"] = "Create";
}
<div class="bg-primary text-white p-1 m-1">
    <h2>Create Role</h2>
</div>
<form class="m-1 p-1" asp-action="Create" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="name">Role Name</label>
        <input name="name" class="form-control" />
    </div>
    <input type="submit" class="btn btn-success" value="Create" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>
