﻿@model RoleDetails
@{
    ViewData["Title"] = "Edit";
}

<div class="bg-primary text-white p-1 m-1">
    <h2>Edit Role</h2>
</div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<form asp-action="Edit" method="post">
    <input hidden="hidden" name="RoleId" value="@Model.Role.Id" />
    <input hidden="hidden" name="RoleName" value="@Model.Role.Name" />
    <h6 class="bg-info p-1 text-white">
        Add to @Model.Role.Name
    </h6>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">All Users are Members.</td></tr>
        }
        else
        {
            @foreach (var user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToAdd" value="@user.Id" /></td>
                </tr>
            }

        }
    </table>

    <h6 class="bg-info p-1 text-white">
        Delete to @Model.Role.Name
    </h6>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users are Members.</td></tr>
        }
        else
        {
            @foreach (var user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td><input type="checkbox" name="IdsToDelete" value="@user.Id" /></td>
                </tr>
            }

        }
    </table>
    <button type="submit" class="btn btn-info" >Save</button>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>