﻿@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<div class="bg-primary text-white p-1 m-1">
    <h2>Role List</h2>
</div>

@*Key'i olmayan hata mesajlarını yazar. Yani model(ApplicationUser) seviyesinde hata mesajları.*@
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}
<table class="table table-bordered table-striped table-sm m-1 p-1">
    <tr>
        <th>Role Id</th>
        <th>Role Name</th>
        <th>Users</th>
        <th>Transaction</th>
        <th>Transaction</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No Roles.</td>

        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td identity-role="@item.Id"></td>
                <td>
                    <form asp-route-id="@item.Id" asp-action="Delete" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <a asp-controller="AdminRole"
                       asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-info">
                        Edit
                    </a>
                </td>
                @*  ****** Bir onay sayfasına gönderip oradan sildirmek için yazdım.
                        <td>
                        <a
                           asp-action="Delete"
                           asp-controller="Admin"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">Delete</a>
                    </td> ***** *@
            </tr>
        }
    }
    <tr></tr>
</table>

<a asp-action="Create" class="btn btn-success">
    Create Role
</a>