﻿
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="bg-danger text-white mb-1 p-2">Access Denied !</div>
<br>

<a asp-action="Index" asp-controller="Home" class="btn btn-info">Home</a>


<hr><br>