﻿@model LoginModel
@{
    ViewData["Title"] = "Login";
}
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            $("input.input-validation-error")
                .closest(".form-group")
                .addClass("has-danger");
        });
    </script>
}


<div class="bg-primary text-white p-1 m-1">
    <h2>Login User</h2>
</div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span class="text-danger" asp-validation-for="Email"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span class="text-danger" asp-validation-for="Password"></span></div>
        <input asp-for="Password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
