﻿@model RegisterModel
@{
    ViewData["Title"] = "Create";
}
@section scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            $("input.input-validation-error")
                .closest(".form-group")
                .addClass("has-danger");
        });
    </script>
}
<div class="bg-primary text-white p-1 m-1">
    <h2>Create User</h2>
</div>
<form class="m-1 p-1" asp-action="Create" method="post">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <div><span class="text-danger" asp-validation-for="UserName"></span></div>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <div><span class="text-danger" asp-validation-for="Password"></span></div>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span class="text-danger" asp-validation-for="Email"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>

    <input type="submit" class="btn btn-success" value="Create" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>
