﻿@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
}

<div class="bg-primary text-white p-1 m-1">
    <h2>Delete to User</h2>
</div>

<div class="bg-warning text-white p-1 m-1">
    <h2>Aşağıdaki Kaydı Silmek İstediğinize Emin Misiniz ?</h2>
</div>
<form class="m-1 p-1" asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input disabled="disabled" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input disabled="disabled" asp-for="Email" class="form-control" />
    </div>

    <input type="submit" class="btn btn-success" value="Delete" />
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</form>