﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<div class="bg-primary text-white p-1 m-1">
    <h2>User List</h2>
</div>

@*Key'i olmayan hata mesajlarını yazar. Yani model(ApplicationUser) seviyesinde hata mesajları.*@
<div class="text-danger" asp-validation-summary="ModelOnly">

</div>
<table class="table table-bordered table-striped table-sm m-1 p-1">
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Transaction</th>
        <th>Transaction</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">No Users.</td>

        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>
                <form asp-route-id="@item.Id" asp-action="Delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <a asp-controller="Admin" 
                   asp-action="Edit" 
                   asp-route-id="@item.Id" 
                   class="btn btn-info" >Edit
                </a>
            </td>
            @*  ****** Bir onay sayfasına gönderip oradan sildirmek için yazdım.
            <td>
            <a
               asp-action="Delete"
               asp-controller="Admin"
               asp-route-id="@item.Id"
               class="btn btn-danger">Delete</a>
        </td> ***** *@
        </tr>
        }
    }
    <tr></tr>
</table>

<a asp-action="Create" asp-controller="Admin" class="btn btn-success">
    Create User
</a>